  @font-face {
      font-family: 'Noto Sans TC';
      src: url('./fonts/noto-sans-tc-v10-latin_chinese-traditional-regular.woff2') format('woff2');
  }
  
  @font-face {
      font-family: 'Noto Sans SC';
      src: url('./fonts/noto-sans-sc-v11-latin_chinese-simplified-regular.woff2') format('woff2');
  }
  
  body {
      background-color: #fffff;
      color: #00cc00;
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
  
  #tooltip {
      position: absolute;
      width: auto;
      height: auto;
      padding: 8px;
      background-color: #00cc00;
      border-radius: 4px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      pointer-events: none;
      font-size: 14px;
      color: #fff;
      z-index: 2;
  }
  
  .reportTable {
      font-family: 'Open Sans', Helvetica, Arial, Noto Sans TC, Noto Sans SC, sans-serif;
      color: #D3D3D3;
      border-collapse: collapse;
      border-spacing: 5px;
      table-layout: fixed;
      background-color: #252525;
  }
  
  th.headerCell {
      background-color: #2A3B66;
      color: white;
      padding: 10px;
      border-bottom: 2px solid #3B4C7E;
      text-align: left;
  }
  
  .rowCell {
      vertical-align: middle;
      padding: 8px;
      border-bottom: 1px solid #3B3B3B;
  }
  
  .total {
      border-top: 2px solid #888 !important;
      font-weight: bold !important;
      background-color: #009999;
  }
  
  .numeric {
      text-align: right;
  }
  
  .negative {
      color: #FF6B6B;
  }
  
  .deviceBreakdown {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
  }
  
  .chart {
      width: 200px;
      height: 200px;
  }
