  @font-face {
      font-family: 'Noto Sans TC';
      src: url('./fonts/noto-sans-tc-v10-latin_chinese-traditional-regular.woff2') format('woff2');
  }
  
  @font-face {
      font-family: 'Noto Sans SC';
      src: url('./fonts/noto-sans-sc-v11-latin_chinese-simplified-regular.woff2') format('woff2');
  }
  
  body {
      background-color: #000000;
      color: #000000;
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
  
  #tooltip {
      position: absolute;
      width: auto;
      height: auto;
      padding: 8px;
      background-color: #CCFFE5;
      border-radius: 4px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
      pointer-events: none;
      font-size: 14px;
      color: #000;
      z-index: 2;
  }
  
  .reportTable {
      font-family: 'Open Sans', Helvetica, Arial, Noto Sans TC, Noto Sans SC, sans-serif;
      color: #333;
      border-collapse: collapse;
      border-spacing: 5px;
      table-layout: fixed;
      background-color: #BFFFC9;
  }
  
  th.headerCell {
      background-color: #72C472;
      color: black;
      padding: 10px;
      border-bottom: 2px solid #5DA05D;
      text-align: left;
  }
  
  .rowCell {
      vertical-align: middle;
      padding: 8px;
      border-bottom: 1px solid #A3D6A3;
  }
  
  .total {
      border-top: 2px solid #00000 !important;
      font-weight: bold !important;
      background-color: #A8E6A3;
  }
  
  .numeric {
      text-align: right;
  }
  
  .negative {
      color: #D9534F;
  }
  
  .deviceBreakdown {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
  }
  
  .chart {
      width: 200px;
      height: 200px;
  }
